.THIS .tblspc {
    width: auto;
}



.THIS .gray {
   background-color: #D9D9D8;
}

.THIS .blue{
   background-color: #444C7C;
}

.THIS .white{
   background-color: white;
}

.THIS .black{
   background-color: black;
    height: 100%; 
}

.THIS .whiteText{
   color: white;
}