.THIS .blue{
    background-color: #505889;
}
.THIS .gray{
    background-color: #f4f6f9;
}

.THIS .sidebarBtn {
    margin: 1em !important;
    background-color: white !important;
    color: #0070d2 !important;
    text-decoration: none !important;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    border: 1px solid #d8dde6 !important;
    border-radius: 0.25rem !important;
}
.THIS .heightCls {
    top: 0 !important;
    margin: 0 !important;
}
.THIS .rightalign{
    text-align: right !important;
}