<apex:page standardController="Account" showHeader="false" docType="html-4.01-strict">
<apex:stylesheet value="{!URLFOR($Resource.CRMC_PP__SLDS080, '/assets/styles/salesforce-lightning-design-system-vf.css')}" />
<style>
.fullWidth{
width:96%; 
}
.font{
        font: 12px Salesforce Sans,Arial,Helvetica,sans-serif;
        font-weight: inherit;
        text-align: center -21px;
    }
div.bPageBlock {
        background-color: #ffffff !important;
        border-color: #ffffff !important;
}


</style>
<div class="font">
<apex:form id="refresh" >
<apex:messages />
<apex:pageBlock id="editBlock">
<apex:pageBlockButtons >
<apex:commandButton value="Save" action="{!quickSave}" oncomplete="location.reload()"/>
<apex:commandButton onclick="location.reload()" value="Cancel" rerender="refresh"/>
</apex:pageBlockButtons>
<apex:pageBlockSection columns="2">
<apex:repeat value="{!$ObjectType.Account.FieldSets.CRMC_PP__CRMC_Action_Grid_Defaults}" var="field">
        <apex:inputField value="{!Account[field]}" styleClass="fullWidth"/>
    </apex:repeat>
</apex:pageBlockSection>
</apex:pageBlock>

<!--- OPTIONAL - include another VF Page such as Tasks --->     
<CRMC_PP:Grid ObjectName="Task" FKName="AccountId" FKValue="{!Account.Id}" DelayLoad="false"  ViewID="a4w50000000E5NoAAK" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="false"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
<CRMC_PP:DrillUp />
</apex:form>
</div>
</apex:page>