<apex:page controller="OpportunitiestoSubmitSelector" tabStyle="Opportunity" >
   <style> body.hasMotif{margin: 0 0px}</style>
   <apex:pageBlock title="Opportunities to Submit">
   <style> body { width: 100% } </style> 
            <!-- this grabs the opportunity list from the getter method in the OpportunityPageController -->
            <apex:pageBlockTable value="{!opportunities}" var="opp" columns="5" width="100px,500px,500px,500px,500px">
                <apex:column >
                    <!-- add a facet to include a header, otherwise this column won't have a header -->
                    <apex:facet name="header">Name</apex:facet>
                    <!-- this cell in the table will have a hyperlink that opens in a new tab -->
                    <apex:outputLink value="/{!opp.Id}" target="_blank">
                        <apex:outputField value="{!opp.Name}"/>
                    </apex:outputLink>
                </apex:column>
              
                <apex:column value="{!opp.Account.Name}"/>
                <apex:column value="{!opp.Amount}" />
                <apex:column value="{!opp.CloseDate}" />
                <apex:column value="{!opp.StageName}" />
                
            </apex:pageBlockTable>

    </apex:pageBlock>
</apex:page>