<apex:page StandardController="Project__c" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
    
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <head>
            <meta charset="utf-8" />
            
            <meta http-equiv="x-ua-compatible" content="ie=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            
            <apex:stylesheet value="{!URLFOR($Resource.SLDS0203, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
        </head>
        <body>
          
                 <div class="qualtrics">
                
               <apex:outputPanel rendered="{!Project__c.Panels_Project_Requirements__c!='PROJECT GUIDE: Complete'&&Project__c.Panels_Project_Requirements__c!='PROJECT GUIDE: Awaiting Client Signature'&&Project__c.Panels_Project_Requirements__c!='PROJECT GUIDE: Project Fulfillment'&&Project__c.Panels_Project_Requirements__c!='PROJECT GUIDE: Awaiting Project Launch'}">
                    <div class="slds-notify_container">
                        <div class="slds-notify slds-notify--alert slds-theme--error " role="alert">
                            <h2><b>
                                <apex:outputField value="{!Project__c.Panels_Project_Requirements__c}" />
                                </b></h2> 
                        </div>
                    </div>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!Project__c.Panels_Project_Requirements__c='PROJECT GUIDE: Complete'}">
                    <div class="slds-notify_container">
                        <div class="slds-notify slds-notify--alert slds-theme--success" role="alert">
                            <h2><b>
                                <apex:outputField value="{!Project__c.Panels_Project_Requirements__c}"/>
                                </b></h2> 
                        </div>
                    </div>
               </apex:outputPanel>
                <apex:outputPanel rendered="{!If(Project__c.Panels_Project_Requirements__c='PROJECT GUIDE: Awaiting Client Signature'||Project__c.Panels_Project_Requirements__c='PROJECT GUIDE: Project Fulfillment'||Project__c.Panels_Project_Requirements__c='PROJECT GUIDE: Awaiting Project Launch', true ,false)}">
                    <div class="slds-notify_container">
                        <div class="slds-notify slds-notify--alert" role="alert">
                            <h2><b>
                                <apex:outputField value="{!Project__c.Panels_Project_Requirements__c}" />
                                </b></h2> 
                        </div>
                    </div>
               </apex:outputPanel>
            </div>
        </body>
    </html>
    
</apex:page>